In [ ]:
# импортируем pandas как pd

In [1]:
import pandas as pd
import numpy as np

In [6]:
# проверяем версию пандас
pd.__version__

'1.4.1'

In [7]:
# создаем словарь data и список labels
data = {'animal':['cat','cat','snake','dog','dog','cat','snake','cat','dog','dog'],
       'age':[2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
       'visits':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
       'priority':['yes','yes','no','yes','no','no','no','yes','no','no']}

labels = ['a','b','c','d','e','f','g','h','i','j']

In [8]:
# Создайте DataFrame из словря data. В качетсве подписей строк используйте список labels.
# Результат сохраните в переменную df

df = pd.DataFrame(data,index=labels)

In [16]:
# Переменная col содержит имя колонки, переменная row содержит имя ИЛИ индекс строки.
# Выведити на печать содержимое ячейки

col = input()


def row():
    while True:
        try:
            row = int(input())
            return row
        except ValueError:
            row = input()
            return row
row = row()

print(df[col][row])

animal
2
snake

In [17]:
# данный метод показывает название колонок, количество ненулевых значений, тип значений в столбцах
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

In [18]:
# выводит данные в виде таблицы пандас для числовых значений 
"""count - количество ненулевых значений"""
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [20]:
# вывести количество ненулевых значений столбца age, а также квантиль 75%

print(df['age'].describe().loc[['count','75%']])

count    8.000
75%      4.625
Name: age, dtype: float64