In [2]:
# импортируем pandas как pd

In [3]:
import pandas as pd
import numpy as np

In [4]:
# проверяем версию пандас
pd.__version__

'1.4.1'

In [5]:
# создаем словарь data и список labels
data = {'animal':['cat','cat','snake','dog','dog','cat','snake','cat','dog','dog'],
       'age':[2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
       'visits':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
       'priority':['yes','yes','no','yes','no','no','no','yes','no','no']}

labels = ['a','b','c','d','e','f','g','h','i','j']

In [6]:
# Создайте DataFrame из словря data. В качетсве подписей строк используйте список labels.
# Результат сохраните в переменную df

df = pd.DataFrame(data,index=labels)

In [7]:
# Переменная col содержит имя колонки, переменная row содержит имя ИЛИ индекс строки.
# Выведити на печать содержимое ячейки

col = input()


def row():
    row = input()
    while True:
        try:
            row = int(row)
            return row
        except ValueError:
            
            return str(row)
row = row()

print(df[col][row])

animal
c
snake

In [8]:
# данный метод показывает название колонок, количество ненулевых значений, тип значений в столбцах
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

In [9]:
# выводит данные в виде таблицы пандас для числовых значений 
"""count - количество ненулевых значений"""
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [10]:
# вывести количество ненулевых значений столбца age, а также квантиль 75%

print(df['age'].describe().loc[['count','75%']])

count    8.000
75%      4.625
Name: age, dtype: float64

In [11]:
# вывести первые три строки
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [12]:
# Выведите на печать строки с индексами 0, 2, 3.
print(df.iloc[[0,2,3]])

  animal  age  visits priority
a    cat  2.5       1      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes

In [13]:
# добавить столбец name в датафрейм df
df['name']=['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar']

In [14]:
# Выведите на печать только столбцы 'name' и 'age' (гарантируется, что они есть)
print(df[['name','age']])

      name  age
a   Murzik  2.5
b   Pushok  3.0
c      Kaa  0.5
d    Bobik  NaN
e  Strelka  5.0
f    Vaska  2.0
g     Kaa2  4.5
h    Murka  NaN
i     Graf  7.0
j   Muhtar  3.0

In [15]:
# Выведите на печать только столбцы 'name' и 'age' И строки 0, 2, 3 (гарантируется, что они есть)
df[['name','age']].iloc[[0,2,3]]

     name  age
a  Murzik  2.5
c     Kaa  0.5
d   Bobik  NaN

In [16]:
# Выведите на печать только данные, относящиеся к записям, возраст которых больше, указанного в переменное critical_age.
critical_age=3
df[df['age']>critical_age]

  animal  age  visits priority     name
e    dog  5.0       2       no  Strelka
g  snake  4.5       1       no     Kaa2
i    dog  7.0       2       no     Graf

In [17]:
# Выведите на печать только данные, в которых не заполнен возраст (в графе 'age' стоит null)
df1 = pd.DataFrame({'name' : ["Alex", "Bob", "Carmen", "Diaz", "Ella","Forman", "Glen"],
                   'age' : [20, 27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]})

print(df1[df1['age'].isnull()])

Empty DataFrame
Columns: [name, age, designation]
Index: []

In [18]:
''' Переменная filter_names содержит список имён столбцов по которым происходит фильтрация
    Переменная filter_values содержит список из 2 значений по которым происходит фильтрация.
    1 значение проверяется на равенство. 2 значение должно быть меньше указанного в фильтре.

Выведите только те строки датафрейма, которые удовлетворяют условиям обоих фильтров.

В 1 примере мы выводим данные обо всех животных (имя столбца = 'animal'), являющихся кошками (значение = 'cat'),
возраст (имя столбца = 'age') которых меньше 3 (значение = 3).
'''

filter_names = ["animal", "age"]
filter_values = ["cat", 3]

print(df[(df[filter_names[0]]==filter_values[0])&(df[filter_names[1]]<filter_values[1])])

  animal  age  visits priority    name
a    cat  2.5       1      yes  Murzik
f    cat  2.0       3       no   Vaska

In [22]:
'''Переменная age_between содержит 2 числа

Выведите только те строки датафрейма, возраст в которых находится в интервале между числами age_between
(включая границы)
'''

age_between=[2,4]

print(df.query(f'age>={age_between[0]} & age<={age_between[1]}'))

  animal  age  visits priority    name
a    cat  2.5       1      yes  Murzik
b    cat  3.0       3      yes  Pushok
f    cat  2.0       3       no   Vaska
j    dog  3.0       1       no  Muhtar